In [11]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ediga\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ediga\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ediga\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ediga\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ediga\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\ediga\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas

In [13]:
print(pandas.__version__)

2.0.3

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("world_happiness_report.csv")

In [4]:
df

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,China,2022,4.39,44984.68,0.53,71.11,0.41,-0.05,0.83,14.98,...,0.34,76.44,46.06,8.92,62.75,8.59,74.40,70.30,0.29,61.38
1,UK,2015,5.49,30814.59,0.93,63.14,0.89,0.04,0.84,19.46,...,0.72,53.38,46.43,4.43,53.11,8.76,91.74,73.32,0.76,80.18
2,Brazil,2009,4.65,39214.84,0.03,62.36,0.01,0.16,0.59,16.68,...,0.23,82.40,31.03,3.78,33.30,6.06,71.80,28.99,0.94,72.65
3,France,2019,5.20,30655.75,0.77,78.94,0.98,0.25,0.63,2.64,...,0.68,46.87,57.65,4.43,90.59,6.36,86.16,45.76,0.48,55.14
4,China,2022,7.28,30016.87,0.05,50.33,0.62,0.18,0.92,7.70,...,0.50,60.38,28.54,7.66,59.33,3.00,71.10,65.67,0.12,51.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,South Africa,2005,7.43,1504.73,0.17,50.20,0.99,0.27,0.69,2.16,...,0.96,83.55,25.65,6.69,66.67,8.18,91.14,28.88,0.07,85.95
3996,India,2018,5.71,50182.85,0.96,67.67,0.84,0.43,0.88,7.19,...,0.70,89.03,41.70,9.57,82.84,8.42,83.05,55.50,0.74,91.96
3997,South Africa,2021,6.23,6158.53,0.22,67.08,0.42,0.19,0.10,2.25,...,0.59,67.74,24.58,8.02,81.29,6.97,72.08,61.16,0.29,89.19
3998,Brazil,2014,5.73,38214.54,0.46,55.72,0.74,0.28,0.46,8.74,...,0.21,62.73,56.21,5.60,30.44,4.67,87.21,49.50,0.11,85.44
3999,UK,2016,3.26,30740.42,0.11,67.31,0.67,0.23,0.23,3.13,...,0.15,77.93,29.20,8.23,49.73,4.30,92.22,56.39,0.10,51.85

In [5]:
df.head()

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,China,2022,4.39,44984.68,0.53,71.11,0.41,-0.05,0.83,14.98,...,0.34,76.44,46.06,8.92,62.75,8.59,74.40,70.30,0.29,61.38
1,UK,2015,5.49,30814.59,0.93,63.14,0.89,0.04,0.84,19.46,...,0.72,53.38,46.43,4.43,53.11,8.76,91.74,73.32,0.76,80.18
2,Brazil,2009,4.65,39214.84,0.03,62.36,0.01,0.16,0.59,16.68,...,0.23,82.40,31.03,3.78,33.30,6.06,71.80,28.99,0.94,72.65
3,France,2019,5.20,30655.75,0.77,78.94,0.98,0.25,0.63,2.64,...,0.68,46.87,57.65,4.43,90.59,6.36,86.16,45.76,0.48,55.14
4,China,2022,7.28,30016.87,0.05,50.33,0.62,0.18,0.92,7.70,...,0.50,60.38,28.54,7.66,59.33,3.00,71.10,65.67,0.12,51.55

In [6]:
df.head(n=10)

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,China,2022,4.39,44984.68,0.53,71.11,0.41,-0.05,0.83,14.98,...,0.34,76.44,46.06,8.92,62.75,8.59,74.40,70.30,0.29,61.38
1,UK,2015,5.49,30814.59,0.93,63.14,0.89,0.04,0.84,19.46,...,0.72,53.38,46.43,4.43,53.11,8.76,91.74,73.32,0.76,80.18
2,Brazil,2009,4.65,39214.84,0.03,62.36,0.01,0.16,0.59,16.68,...,0.23,82.40,31.03,3.78,33.30,6.06,71.80,28.99,0.94,72.65
3,France,2019,5.20,30655.75,0.77,78.94,0.98,0.25,0.63,2.64,...,0.68,46.87,57.65,4.43,90.59,6.36,86.16,45.76,0.48,55.14
4,China,2022,7.28,30016.87,0.05,50.33,0.62,0.18,0.92,7.70,...,0.50,60.38,28.54,7.66,59.33,3.00,71.10,65.67,0.12,51.55
5,South Africa,2006,6.42,11135.56,0.04,77.93,0.15,0.13,0.93,2.51,...,0.09,86.39,34.97,6.20,77.96,7.03,77.10,46.82,0.62,51.18
6,Germany,2015,7.41,17444.11,0.43,70.00,0.05,0.11,0.66,2.72,...,0.39,89.86,31.35,2.86,40.71,4.27,71.23,54.93,0.34,70.21
7,China,2017,4.02,10372.31,0.06,84.51,0.54,0.15,0.01,3.43,...,0.87,60.71,57.24,3.10,88.03,3.77,71.65,74.60,0.42,87.83
8,Brazil,2008,7.37,12544.31,0.79,70.63,0.23,0.10,0.10,6.97,...,0.99,52.40,53.13,5.03,87.69,4.83,80.66,30.67,0.15,77.53
9,France,2011,3.30,58405.67,0.53,51.94,0.30,0.18,0.86,7.48,...,0.37,97.49,52.45,4.71,63.75,6.99,61.79,47.76,0.63,88.86

In [7]:
df.tail()

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
3995,South Africa,2005,7.43,1504.73,0.17,50.20,0.99,0.27,0.69,2.16,...,0.96,83.55,25.65,6.69,66.67,8.18,91.14,28.88,0.07,85.95
3996,India,2018,5.71,50182.85,0.96,67.67,0.84,0.43,0.88,7.19,...,0.70,89.03,41.70,9.57,82.84,8.42,83.05,55.50,0.74,91.96
3997,South Africa,2021,6.23,6158.53,0.22,67.08,0.42,0.19,0.10,2.25,...,0.59,67.74,24.58,8.02,81.29,6.97,72.08,61.16,0.29,89.19
3998,Brazil,2014,5.73,38214.54,0.46,55.72,0.74,0.28,0.46,8.74,...,0.21,62.73,56.21,5.60,30.44,4.67,87.21,49.50,0.11,85.44
3999,UK,2016,3.26,30740.42,0.11,67.31,0.67,0.23,0.23,3.13,...,0.15,77.93,29.20,8.23,49.73,4.30,92.22,56.39,0.10,51.85

In [8]:
df.describe()

,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,Education_Index,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,...,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,2014.670750,5.455005,30482.009953,0.505860,67.917605,0.502723,0.143960,0.498920,10.966748,0.750385,...,0.502812,69.976853,40.002648,6.009270,65.176380,5.987325,67.586327,45.526322,0.494105,74.021450
std,5.724075,1.427370,17216.122032,0.286202,10.172091,0.285219,0.200088,0.288866,5.210712,0.144819,...,0.289186,17.128536,11.634987,2.291172,19.981357,1.725363,15.769023,20.300069,0.293191,13.906888
min,2005.000000,3.000000,1009.310000,0.000000,50.000000,0.000000,-0.200000,0.000000,2.000000,0.500000,...,0.000000,40.000000,20.010000,2.010000,30.010000,3.000000,40.010000,10.030000,0.000000,50.000000
25%,2010.000000,4.237500,15425.125000,0.260000,59.177500,0.260000,-0.030000,0.240000,6.450000,0.630000,...,0.260000,55.580000,29.865000,4.040000,48.170000,4.460000,53.910000,27.840000,0.230000,61.867500
50%,2015.000000,5.430000,29991.255000,0.510000,68.015000,0.500000,0.140000,0.500000,10.995000,0.750000,...,0.500000,69.650000,40.015000,6.070000,64.755000,6.020000,68.015000,45.760000,0.490000,74.475000
75%,2020.000000,6.662500,45763.085000,0.750000,76.690000,0.750000,0.310000,0.742500,15.450000,0.880000,...,0.760000,84.582500,50.187500,8.010000,82.652500,7.490000,81.332500,63.197500,0.760000,85.912500
max,2024.000000,8.000000,59980.720000,1.000000,85.000000,1.000000,0.500000,1.000000,19.990000,1.000000,...,1.000000,100.000000,59.970000,10.000000,99.990000,9.000000,94.990000,79.990000,1.000000,98.000000

In [9]:
df.shape

(4000, 24)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    4000 non-null   object
 1   Year                       4000 non-null   int64
 2   Happiness_Score            4000 non-null   float64
 3   GDP_per_Capita             4000 non-null   float64
 4   Social_Support             4000 non-null   float64
 5   Healthy_Life_Expectancy    4000 non-null   float64
 6   Freedom                    4000 non-null   float64
 7   Generosity                 4000 non-null   float64
 8   Corruption_Perception      4000 non-null   float64
 9   Unemployment_Rate          4000 non-null   float64
 10  Education_Index            4000 non-null   float64
 11  Population                 4000 non-null   int64
 12  Urbanization_Rate          4000 non-null   float64
 13  Life_Satisfaction          4000 non-null   float64
 14  Public_Trust               4000 non-null   float64
 15  Mental_Health_Index        4000 non-null   float64
 16  Income_Inequality          4000 non-null   float64
 17  Public_Health_Expenditure  4000 non-null   float64
 18  Climate_Index              4000 non-null   float64
 19  Work_Life_Balance          4000 non-null   float64
 20  Internet_Access            4000 non-null   float64
 21  Crime_Rate                 4000 non-null   float64
 22  Political_Stability        4000 non-null   float64
 23  Employment_Rate            4000 non-null   float64
dtypes: float64(21), int64(2), object(1)
memory usage: 750.1+ KB

In [11]:
df.columns

Index(['Country', 'Year', 'Happiness_Score', 'GDP_per_Capita',
       'Social_Support', 'Healthy_Life_Expectancy', 'Freedom', 'Generosity',
       'Corruption_Perception', 'Unemployment_Rate', 'Education_Index',
       'Population', 'Urbanization_Rate', 'Life_Satisfaction', 'Public_Trust',
       'Mental_Health_Index', 'Income_Inequality', 'Public_Health_Expenditure',
       'Climate_Index', 'Work_Life_Balance', 'Internet_Access', 'Crime_Rate',
       'Political_Stability', 'Employment_Rate'],
      dtype='object')

In [12]:
list(df.columns)

['Country',
 'Year',
 'Happiness_Score',
 'GDP_per_Capita',
 'Social_Support',
 'Healthy_Life_Expectancy',
 'Freedom',
 'Generosity',
 'Corruption_Perception',
 'Unemployment_Rate',
 'Education_Index',
 'Population',
 'Urbanization_Rate',
 'Life_Satisfaction',
 'Public_Trust',
 'Mental_Health_Index',
 'Income_Inequality',
 'Public_Health_Expenditure',
 'Climate_Index',
 'Work_Life_Balance',
 'Internet_Access',
 'Crime_Rate',
 'Political_Stability',
 'Employment_Rate']

In [13]:
df.isnull()

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
df.isnull().sum()

Country                      0
Year                         0
Happiness_Score              0
GDP_per_Capita               0
Social_Support               0
Healthy_Life_Expectancy      0
Freedom                      0
Generosity                   0
Corruption_Perception        0
Unemployment_Rate            0
Education_Index              0
Population                   0
Urbanization_Rate            0
Life_Satisfaction            0
Public_Trust                 0
Mental_Health_Index          0
Income_Inequality            0
Public_Health_Expenditure    0
Climate_Index                0
Work_Life_Balance            0
Internet_Access              0
Crime_Rate                   0
Political_Stability          0
Employment_Rate              0
dtype: int64

In [15]:
df.dtypes

Country                       object
Year                           int64
Happiness_Score              float64
GDP_per_Capita               float64
Social_Support               float64
Healthy_Life_Expectancy      float64
Freedom                      float64
Generosity                   float64
Corruption_Perception        float64
Unemployment_Rate            float64
Education_Index              float64
Population                     int64
Urbanization_Rate            float64
Life_Satisfaction            float64
Public_Trust                 float64
Mental_Health_Index          float64
Income_Inequality            float64
Public_Health_Expenditure    float64
Climate_Index                float64
Work_Life_Balance            float64
Internet_Access              float64
Crime_Rate                   float64
Political_Stability          float64
Employment_Rate              float64
dtype: object

In [16]:
df['Country']

0              China
1                 UK
2             Brazil
3             France
4              China
            ...
3995    South Africa
3996           India
3997    South Africa
3998          Brazil
3999              UK
Name: Country, Length: 4000, dtype: object

In [17]:
df[['Country','Unemployment_Rate','Population']]

           Country  Unemployment_Rate  Population
0            China              14.98  1311940760
1               UK              19.46  1194240877
2           Brazil              16.68   731100898
3           France               2.64  1293957314
4            China               7.70  1432971455
...            ...                ...         ...
3995  South Africa               2.16   934088568
3996         India               7.19  1143441630
3997  South Africa               2.25  1175677845
3998        Brazil               8.74  1163097834
3999            UK               3.13   545310654

[4000 rows x 3 columns]

In [18]:
df[df.index==0]

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,China,2022,4.39,44984.68,0.53,71.11,0.41,-0.05,0.83,14.98,...,0.34,76.44,46.06,8.92,62.75,8.59,74.4,70.3,0.29,61.38

In [50]:
df[df.index.isin(range(50,60))]

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
50,Germany,2005,5.70,43249.52,0.40,55.01,0.24,0.49,1.00,17.84,...,0.29,88.21,38.98,2.87,41.83,7.70,90.97,10.73,0.20,79.14
51,USA,2021,7.84,24261.24,0.89,61.52,0.18,0.25,0.67,17.97,...,0.90,41.92,31.65,2.40,94.21,7.81,80.68,71.57,0.62,93.12
52,UK,2013,5.42,40947.84,0.50,65.47,0.70,-0.06,0.41,9.35,...,0.41,48.08,42.82,2.70,96.28,6.22,88.28,46.17,0.71,67.17
53,Canada,2010,3.32,29082.92,0.54,56.73,0.98,-0.12,0.08,4.47,...,0.79,85.36,22.85,7.42,69.84,5.00,40.56,36.24,0.64,66.04
54,Brazil,2023,5.76,59632.61,0.96,65.75,0.75,0.46,0.60,13.35,...,0.20,46.86,46.49,6.76,63.53,6.84,93.78,25.54,0.51,79.89
55,UK,2017,7.21,44005.23,0.89,55.50,0.28,0.10,0.64,17.73,...,0.49,81.03,25.89,7.06,83.09,4.35,50.50,66.99,0.14,82.81
56,Canada,2007,7.98,57196.99,0.17,69.57,0.42,-0.06,0.82,3.35,...,0.13,83.41,31.19,3.26,94.26,3.82,87.53,35.46,0.37,71.97
57,India,2011,5.15,50263.20,0.47,73.23,0.38,0.45,0.29,12.04,...,0.41,79.73,31.28,6.13,46.27,6.23,91.13,52.32,0.60,91.26
58,India,2013,4.60,54271.16,0.97,52.19,0.85,-0.13,0.98,4.07,...,0.26,89.09,38.63,8.14,56.77,5.87,40.12,45.82,0.23,66.91
59,South Africa,2009,7.53,49050.73,0.37,80.49,0.77,0.31,0.44,2.49,...,0.55,70.70,58.13,7.47,59.23,3.90,90.25,28.42,0.64,80.76

In [53]:
df.iloc[0][1]

2022

In [56]:
df.iloc[0]

Country                           China
Year                               2022
Happiness_Score                    4.39
GDP_per_Capita                 44984.68
Social_Support                     0.53
Healthy_Life_Expectancy           71.11
Freedom                            0.41
Generosity                        -0.05
Corruption_Perception              0.83
Unemployment_Rate                 14.98
Education_Index                    0.52
Population                   1311940760
Urbanization_Rate                 78.71
Life_Satisfaction                  8.88
Public_Trust                       0.34
Mental_Health_Index               76.44
Income_Inequality                 46.06
Public_Health_Expenditure          8.92
Climate_Index                     62.75
Work_Life_Balance                  8.59
Internet_Access                    74.4
Crime_Rate                         70.3
Political_Stability                0.29
Employment_Rate                   61.38
Name: 0, dtype: object

In [61]:
df.loc[10][10]

0.89

In [60]:
df.loc[2500:2599]

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
2500,France,2008,3.70,7308.61,0.66,58.54,0.40,0.18,0.48,13.43,...,0.29,89.68,37.87,6.39,91.47,3.40,63.10,28.56,0.42,56.52
2501,UK,2016,4.61,30134.13,0.07,78.50,0.57,-0.01,0.32,14.41,...,0.08,64.51,54.59,6.66,63.78,7.75,71.83,49.88,0.42,88.00
2502,USA,2006,5.89,52565.88,0.36,53.71,0.56,0.25,0.98,16.14,...,0.77,93.08,32.79,6.47,70.01,6.84,69.88,59.72,0.83,83.00
2503,France,2008,3.38,53350.17,0.94,57.77,0.12,-0.06,0.98,12.68,...,0.42,54.09,35.21,2.58,58.77,7.82,60.21,56.79,0.21,95.18
2504,South Africa,2009,7.72,1646.99,0.86,67.63,0.03,0.29,0.32,6.52,...,0.81,42.36,50.64,5.29,63.36,6.40,58.88,22.98,0.17,66.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595,India,2013,4.26,54612.87,0.07,74.42,0.54,0.21,0.52,14.98,...,0.36,51.25,47.75,8.94,36.35,4.26,88.24,40.92,0.19,91.28
2596,USA,2017,4.02,31586.05,0.47,51.19,0.21,0.47,0.79,7.36,...,0.25,70.05,34.83,3.14,55.05,4.28,92.39,61.21,0.60,89.78
2597,USA,2011,4.70,5421.70,0.55,76.69,0.92,-0.13,0.43,17.83,...,0.70,46.36,38.78,4.47,65.42,5.32,43.97,61.47,0.45,91.26
2598,Canada,2009,5.38,7506.33,0.09,51.17,0.19,-0.11,0.20,4.98,...,0.97,85.80,40.75,9.43,37.93,7.09,83.51,44.73,0.57,89.64
2599,India,2014,4.48,23627.03,0.38,65.94,0.05,0.29,0.09,6.76,...,0.87,58.67,36.90,8.72,78.15,5.02,55.48,78.22,0.61,56.39

In [65]:
df.iloc[[10,20,30]]

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
10,UK,2015,7.44,10033.69,0.03,51.77,0.25,0.42,0.08,9.21,...,0.05,85.66,20.19,8.81,77.05,5.62,89.72,49.45,0.79,65.33
20,France,2010,5.12,49714.62,0.63,81.83,0.15,-0.13,0.13,8.61,...,0.72,81.87,45.65,9.91,33.07,5.13,65.55,55.61,0.94,74.80
30,Australia,2024,3.78,50586.53,0.77,63.79,0.05,0.12,0.58,9.83,...,0.03,54.35,42.91,7.74,41.85,7.71,84.54,14.32,0.02,51.36

In [69]:
df[df['Country']=='India']

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
14,India,2007,7.70,10084.47,0.44,71.63,0.53,0.25,0.58,4.84,...,0.29,44.09,41.23,2.82,97.68,8.22,62.73,75.07,0.91,78.28
18,India,2005,4.98,18031.31,0.22,84.43,0.58,-0.18,0.94,17.34,...,0.76,99.83,49.99,8.32,83.95,8.45,47.32,79.85,0.54,74.11
23,India,2021,6.81,25677.58,0.97,74.81,0.57,0.10,0.79,12.03,...,0.60,48.68,55.98,2.77,49.25,7.78,59.76,11.60,0.02,95.99
57,India,2011,5.15,50263.20,0.47,73.23,0.38,0.45,0.29,12.04,...,0.41,79.73,31.28,6.13,46.27,6.23,91.13,52.32,0.60,91.26
58,India,2013,4.60,54271.16,0.97,52.19,0.85,-0.13,0.98,4.07,...,0.26,89.09,38.63,8.14,56.77,5.87,40.12,45.82,0.23,66.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3968,India,2009,7.34,51538.48,0.11,76.44,0.39,-0.09,0.80,15.28,...,0.94,84.12,54.94,6.10,48.47,7.02,64.73,19.94,0.58,82.68
3974,India,2017,6.03,46998.43,0.84,69.03,0.83,0.37,0.88,4.84,...,0.87,91.82,50.97,7.47,88.37,4.22,77.40,43.25,0.92,50.34
3983,India,2019,7.07,18970.22,0.66,80.64,0.98,0.10,0.10,15.19,...,0.72,53.99,28.36,6.92,81.54,6.32,62.64,19.40,0.97,52.52
3988,India,2017,7.31,9798.97,0.53,83.89,0.33,0.49,0.29,10.72,...,0.69,92.95,47.51,6.24,58.53,5.56,58.65,79.85,0.12,53.97
3996,India,2018,5.71,50182.85,0.96,67.67,0.84,0.43,0.88,7.19,...,0.70,89.03,41.70,9.57,82.84,8.42,83.05,55.50,0.74,91.96

In [70]:
df[df['GDP_per_Capita']>20000]

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,China,2022,4.39,44984.68,0.53,71.11,0.41,-0.05,0.83,14.98,...,0.34,76.44,46.06,8.92,62.75,8.59,74.40,70.30,0.29,61.38
1,UK,2015,5.49,30814.59,0.93,63.14,0.89,0.04,0.84,19.46,...,0.72,53.38,46.43,4.43,53.11,8.76,91.74,73.32,0.76,80.18
2,Brazil,2009,4.65,39214.84,0.03,62.36,0.01,0.16,0.59,16.68,...,0.23,82.40,31.03,3.78,33.30,6.06,71.80,28.99,0.94,72.65
3,France,2019,5.20,30655.75,0.77,78.94,0.98,0.25,0.63,2.64,...,0.68,46.87,57.65,4.43,90.59,6.36,86.16,45.76,0.48,55.14
4,China,2022,7.28,30016.87,0.05,50.33,0.62,0.18,0.92,7.70,...,0.50,60.38,28.54,7.66,59.33,3.00,71.10,65.67,0.12,51.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3992,Brazil,2012,7.88,39059.88,0.01,58.50,0.18,0.38,0.07,19.35,...,0.07,87.97,59.59,2.14,81.65,5.83,93.83,46.97,0.55,61.80
3993,France,2021,7.34,22594.91,0.74,82.86,0.96,-0.05,0.29,9.94,...,0.47,61.09,50.12,3.91,91.65,6.96,60.04,25.30,0.57,88.80
3996,India,2018,5.71,50182.85,0.96,67.67,0.84,0.43,0.88,7.19,...,0.70,89.03,41.70,9.57,82.84,8.42,83.05,55.50,0.74,91.96
3998,Brazil,2014,5.73,38214.54,0.46,55.72,0.74,0.28,0.46,8.74,...,0.21,62.73,56.21,5.60,30.44,4.67,87.21,49.50,0.11,85.44
3999,UK,2016,3.26,30740.42,0.11,67.31,0.67,0.23,0.23,3.13,...,0.15,77.93,29.20,8.23,49.73,4.30,92.22,56.39,0.10,51.85

In [71]:
df.rename(columns={'GDP_per_Capita':'GDP'},inplace=True)

In [72]:
df

,Country,Year,Happiness_Score,GDP,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,China,2022,4.39,44984.68,0.53,71.11,0.41,-0.05,0.83,14.98,...,0.34,76.44,46.06,8.92,62.75,8.59,74.40,70.30,0.29,61.38
1,UK,2015,5.49,30814.59,0.93,63.14,0.89,0.04,0.84,19.46,...,0.72,53.38,46.43,4.43,53.11,8.76,91.74,73.32,0.76,80.18
2,Brazil,2009,4.65,39214.84,0.03,62.36,0.01,0.16,0.59,16.68,...,0.23,82.40,31.03,3.78,33.30,6.06,71.80,28.99,0.94,72.65
3,France,2019,5.20,30655.75,0.77,78.94,0.98,0.25,0.63,2.64,...,0.68,46.87,57.65,4.43,90.59,6.36,86.16,45.76,0.48,55.14
4,China,2022,7.28,30016.87,0.05,50.33,0.62,0.18,0.92,7.70,...,0.50,60.38,28.54,7.66,59.33,3.00,71.10,65.67,0.12,51.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,South Africa,2005,7.43,1504.73,0.17,50.20,0.99,0.27,0.69,2.16,...,0.96,83.55,25.65,6.69,66.67,8.18,91.14,28.88,0.07,85.95
3996,India,2018,5.71,50182.85,0.96,67.67,0.84,0.43,0.88,7.19,...,0.70,89.03,41.70,9.57,82.84,8.42,83.05,55.50,0.74,91.96
3997,South Africa,2021,6.23,6158.53,0.22,67.08,0.42,0.19,0.10,2.25,...,0.59,67.74,24.58,8.02,81.29,6.97,72.08,61.16,0.29,89.19
3998,Brazil,2014,5.73,38214.54,0.46,55.72,0.74,0.28,0.46,8.74,...,0.21,62.73,56.21,5.60,30.44,4.67,87.21,49.50,0.11,85.44
3999,UK,2016,3.26,30740.42,0.11,67.31,0.67,0.23,0.23,3.13,...,0.15,77.93,29.20,8.23,49.73,4.30,92.22,56.39,0.10,51.85

In [75]:
df.mode()

,Country,Year,Happiness_Score,GDP,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,USA,2017.0,5.52,50101.32,0.61,72.82,0.22,-0.18,0.09,7.31,...,0.01,67.08,32.79,8.13,59.71,4.66,73.39,78.43,0.12,97.58
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.82,17.49,...,0.52,92.39,NaN,NaN,NaN,NaN,81.27,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.49,...,NaN,NaN,NaN,NaN,NaN,NaN,92.20,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df.dropna()

,Country,Year,Happiness_Score,GDP,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,China,2022,4.39,44984.68,0.53,71.11,0.41,-0.05,0.83,14.98,...,0.34,76.44,46.06,8.92,62.75,8.59,74.40,70.30,0.29,61.38
1,UK,2015,5.49,30814.59,0.93,63.14,0.89,0.04,0.84,19.46,...,0.72,53.38,46.43,4.43,53.11,8.76,91.74,73.32,0.76,80.18
2,Brazil,2009,4.65,39214.84,0.03,62.36,0.01,0.16,0.59,16.68,...,0.23,82.40,31.03,3.78,33.30,6.06,71.80,28.99,0.94,72.65
3,France,2019,5.20,30655.75,0.77,78.94,0.98,0.25,0.63,2.64,...,0.68,46.87,57.65,4.43,90.59,6.36,86.16,45.76,0.48,55.14
4,China,2022,7.28,30016.87,0.05,50.33,0.62,0.18,0.92,7.70,...,0.50,60.38,28.54,7.66,59.33,3.00,71.10,65.67,0.12,51.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,South Africa,2005,7.43,1504.73,0.17,50.20,0.99,0.27,0.69,2.16,...,0.96,83.55,25.65,6.69,66.67,8.18,91.14,28.88,0.07,85.95
3996,India,2018,5.71,50182.85,0.96,67.67,0.84,0.43,0.88,7.19,...,0.70,89.03,41.70,9.57,82.84,8.42,83.05,55.50,0.74,91.96
3997,South Africa,2021,6.23,6158.53,0.22,67.08,0.42,0.19,0.10,2.25,...,0.59,67.74,24.58,8.02,81.29,6.97,72.08,61.16,0.29,89.19
3998,Brazil,2014,5.73,38214.54,0.46,55.72,0.74,0.28,0.46,8.74,...,0.21,62.73,56.21,5.60,30.44,4.67,87.21,49.50,0.11,85.44
3999,UK,2016,3.26,30740.42,0.11,67.31,0.67,0.23,0.23,3.13,...,0.15,77.93,29.20,8.23,49.73,4.30,92.22,56.39,0.10,51.85

In [77]:
df.fillna(0)

,Country,Year,Happiness_Score,GDP,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,China,2022,4.39,44984.68,0.53,71.11,0.41,-0.05,0.83,14.98,...,0.34,76.44,46.06,8.92,62.75,8.59,74.40,70.30,0.29,61.38
1,UK,2015,5.49,30814.59,0.93,63.14,0.89,0.04,0.84,19.46,...,0.72,53.38,46.43,4.43,53.11,8.76,91.74,73.32,0.76,80.18
2,Brazil,2009,4.65,39214.84,0.03,62.36,0.01,0.16,0.59,16.68,...,0.23,82.40,31.03,3.78,33.30,6.06,71.80,28.99,0.94,72.65
3,France,2019,5.20,30655.75,0.77,78.94,0.98,0.25,0.63,2.64,...,0.68,46.87,57.65,4.43,90.59,6.36,86.16,45.76,0.48,55.14
4,China,2022,7.28,30016.87,0.05,50.33,0.62,0.18,0.92,7.70,...,0.50,60.38,28.54,7.66,59.33,3.00,71.10,65.67,0.12,51.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,South Africa,2005,7.43,1504.73,0.17,50.20,0.99,0.27,0.69,2.16,...,0.96,83.55,25.65,6.69,66.67,8.18,91.14,28.88,0.07,85.95
3996,India,2018,5.71,50182.85,0.96,67.67,0.84,0.43,0.88,7.19,...,0.70,89.03,41.70,9.57,82.84,8.42,83.05,55.50,0.74,91.96
3997,South Africa,2021,6.23,6158.53,0.22,67.08,0.42,0.19,0.10,2.25,...,0.59,67.74,24.58,8.02,81.29,6.97,72.08,61.16,0.29,89.19
3998,Brazil,2014,5.73,38214.54,0.46,55.72,0.74,0.28,0.46,8.74,...,0.21,62.73,56.21,5.60,30.44,4.67,87.21,49.50,0.11,85.44
3999,UK,2016,3.26,30740.42,0.11,67.31,0.67,0.23,0.23,3.13,...,0.15,77.93,29.20,8.23,49.73,4.30,92.22,56.39,0.10,51.85

In [82]:
df.drop('Climate_Index',axis=1)

,Country,Year,Happiness_Score,GDP,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Life_Satisfaction,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,China,2022,4.39,44984.68,0.53,71.11,0.41,-0.05,0.83,14.98,...,8.88,0.34,76.44,46.06,8.92,8.59,74.40,70.30,0.29,61.38
1,UK,2015,5.49,30814.59,0.93,63.14,0.89,0.04,0.84,19.46,...,5.03,0.72,53.38,46.43,4.43,8.76,91.74,73.32,0.76,80.18
2,Brazil,2009,4.65,39214.84,0.03,62.36,0.01,0.16,0.59,16.68,...,5.22,0.23,82.40,31.03,3.78,6.06,71.80,28.99,0.94,72.65
3,France,2019,5.20,30655.75,0.77,78.94,0.98,0.25,0.63,2.64,...,5.69,0.68,46.87,57.65,4.43,6.36,86.16,45.76,0.48,55.14
4,China,2022,7.28,30016.87,0.05,50.33,0.62,0.18,0.92,7.70,...,6.33,0.50,60.38,28.54,7.66,3.00,71.10,65.67,0.12,51.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,South Africa,2005,7.43,1504.73,0.17,50.20,0.99,0.27,0.69,2.16,...,5.71,0.96,83.55,25.65,6.69,8.18,91.14,28.88,0.07,85.95
3996,India,2018,5.71,50182.85,0.96,67.67,0.84,0.43,0.88,7.19,...,7.59,0.70,89.03,41.70,9.57,8.42,83.05,55.50,0.74,91.96
3997,South Africa,2021,6.23,6158.53,0.22,67.08,0.42,0.19,0.10,2.25,...,4.71,0.59,67.74,24.58,8.02,6.97,72.08,61.16,0.29,89.19
3998,Brazil,2014,5.73,38214.54,0.46,55.72,0.74,0.28,0.46,8.74,...,6.29,0.21,62.73,56.21,5.60,4.67,87.21,49.50,0.11,85.44
3999,UK,2016,3.26,30740.42,0.11,67.31,0.67,0.23,0.23,3.13,...,4.92,0.15,77.93,29.20,8.23,4.30,92.22,56.39,0.10,51.85

In [86]:
df['new_column']=df['Public_Trust']+df['Corruption_Perception']
df

,Country,Year,Happiness_Score,GDP,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate,new_column
0,China,2022,4.39,44984.68,0.53,71.11,0.41,-0.05,0.83,14.98,...,76.44,46.06,8.92,62.75,8.59,74.40,70.30,0.29,61.38,1.17
1,UK,2015,5.49,30814.59,0.93,63.14,0.89,0.04,0.84,19.46,...,53.38,46.43,4.43,53.11,8.76,91.74,73.32,0.76,80.18,1.56
2,Brazil,2009,4.65,39214.84,0.03,62.36,0.01,0.16,0.59,16.68,...,82.40,31.03,3.78,33.30,6.06,71.80,28.99,0.94,72.65,0.82
3,France,2019,5.20,30655.75,0.77,78.94,0.98,0.25,0.63,2.64,...,46.87,57.65,4.43,90.59,6.36,86.16,45.76,0.48,55.14,1.31
4,China,2022,7.28,30016.87,0.05,50.33,0.62,0.18,0.92,7.70,...,60.38,28.54,7.66,59.33,3.00,71.10,65.67,0.12,51.55,1.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,South Africa,2005,7.43,1504.73,0.17,50.20,0.99,0.27,0.69,2.16,...,83.55,25.65,6.69,66.67,8.18,91.14,28.88,0.07,85.95,1.65
3996,India,2018,5.71,50182.85,0.96,67.67,0.84,0.43,0.88,7.19,...,89.03,41.70,9.57,82.84,8.42,83.05,55.50,0.74,91.96,1.58
3997,South Africa,2021,6.23,6158.53,0.22,67.08,0.42,0.19,0.10,2.25,...,67.74,24.58,8.02,81.29,6.97,72.08,61.16,0.29,89.19,0.69
3998,Brazil,2014,5.73,38214.54,0.46,55.72,0.74,0.28,0.46,8.74,...,62.73,56.21,5.60,30.44,4.67,87.21,49.50,0.11,85.44,0.67
3999,UK,2016,3.26,30740.42,0.11,67.31,0.67,0.23,0.23,3.13,...,77.93,29.20,8.23,49.73,4.30,92.22,56.39,0.10,51.85,0.38

In [89]:
df=df.sort_values(by='Healthy_Life_Expectancy', ascending=True)

In [100]:
df

,Country,Happiness_Score,GDP,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,Education_Index,...,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate,new_column
Year,,,,,,,,,,,,,,,,,,,,,
2011,UK,4.27,55140.36,0.31,50.00,0.89,-0.12,0.42,12.57,0.78,...,91.89,36.07,7.15,84.67,8.39,94.70,22.74,0.44,84.27,0.44
2022,Canada,4.14,5141.60,0.57,50.01,0.13,0.45,0.99,18.45,0.80,...,98.36,25.07,4.85,32.10,6.02,74.67,55.93,0.21,65.16,1.83
2021,France,3.19,34590.78,0.74,50.02,0.76,0.42,0.69,19.70,1.00,...,68.77,49.33,9.13,66.65,4.57,91.19,56.15,0.02,95.89,0.77
2014,China,7.73,50591.62,0.84,50.03,0.20,0.07,0.79,14.59,0.93,...,49.68,35.19,2.57,67.74,6.90,65.14,41.77,0.01,50.24,1.40
2016,China,7.41,38864.75,0.02,50.04,0.02,-0.01,0.20,18.00,0.82,...,84.87,33.00,5.50,88.65,3.91,59.15,36.08,0.39,51.43,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,France,3.83,27586.78,0.75,84.96,0.89,-0.18,0.37,9.42,0.68,...,99.39,36.21,7.15,86.04,8.88,63.20,69.63,0.84,85.95,0.74
2009,China,3.11,51434.38,0.89,84.98,0.50,0.04,0.40,12.59,0.83,...,51.45,38.70,9.58,52.25,3.71,80.68,48.96,0.78,91.42,0.75
2023,China,7.98,59581.31,0.47,84.99,0.14,0.08,0.27,7.88,0.89,...,98.07,24.92,8.19,69.98,4.80,89.44,38.88,0.26,59.69,0.54
2012,India,4.28,50537.85,0.72,85.00,0.02,0.48,0.73,17.81,0.72,...,55.91,52.35,5.42,44.09,4.08,46.75,32.82,0.03,61.21,0.95
2017,France,4.00,12945.27,0.74,85.00,0.79,0.20,0.61,13.32,0.70,...,90.82,28.87,2.62,77.70,3.83,76.43,59.75,0.84,66.42,0.75

In [111]:
df = df.set_index(["Year","Freedom"])

In [112]:
df

,,Country,Happiness_Score,GDP,Social_Support,Healthy_Life_Expectancy,Generosity,Corruption_Perception,Unemployment_Rate,Education_Index,Population,...,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate,new_column
Year,Freedom,,,,,,,,,,,,,,,,,,,,,
2011,0.89,UK,4.27,55140.36,0.31,50.00,-0.12,0.42,12.57,0.78,1020277101,...,91.89,36.07,7.15,84.67,8.39,94.70,22.74,0.44,84.27,0.44
2022,0.13,Canada,4.14,5141.60,0.57,50.01,0.45,0.99,18.45,0.80,314353553,...,98.36,25.07,4.85,32.10,6.02,74.67,55.93,0.21,65.16,1.83
2021,0.76,France,3.19,34590.78,0.74,50.02,0.42,0.69,19.70,1.00,1024454393,...,68.77,49.33,9.13,66.65,4.57,91.19,56.15,0.02,95.89,0.77
2014,0.20,China,7.73,50591.62,0.84,50.03,0.07,0.79,14.59,0.93,1198279145,...,49.68,35.19,2.57,67.74,6.90,65.14,41.77,0.01,50.24,1.40
2016,0.02,China,7.41,38864.75,0.02,50.04,-0.01,0.20,18.00,0.82,421151087,...,84.87,33.00,5.50,88.65,3.91,59.15,36.08,0.39,51.43,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,0.89,France,3.83,27586.78,0.75,84.96,-0.18,0.37,9.42,0.68,642755177,...,99.39,36.21,7.15,86.04,8.88,63.20,69.63,0.84,85.95,0.74
2009,0.50,China,3.11,51434.38,0.89,84.98,0.04,0.40,12.59,0.83,702023219,...,51.45,38.70,9.58,52.25,3.71,80.68,48.96,0.78,91.42,0.75
2023,0.14,China,7.98,59581.31,0.47,84.99,0.08,0.27,7.88,0.89,151269252,...,98.07,24.92,8.19,69.98,4.80,89.44,38.88,0.26,59.69,0.54
2012,0.02,India,4.28,50537.85,0.72,85.00,0.48,0.73,17.81,0.72,769682443,...,55.91,52.35,5.42,44.09,4.08,46.75,32.82,0.03,61.21,0.95
2017,0.79,France,4.00,12945.27,0.74,85.00,0.20,0.61,13.32,0.70,1445526555,...,90.82,28.87,2.62,77.70,3.83,76.43,59.75,0.84,66.42,0.75

In [113]:
df=df.reset_index()

In [114]:
df

,Year,Freedom,Country,Happiness_Score,GDP,Social_Support,Healthy_Life_Expectancy,Generosity,Corruption_Perception,Unemployment_Rate,...,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate,new_column
0,2011,0.89,UK,4.27,55140.36,0.31,50.00,-0.12,0.42,12.57,...,91.89,36.07,7.15,84.67,8.39,94.70,22.74,0.44,84.27,0.44
1,2022,0.13,Canada,4.14,5141.60,0.57,50.01,0.45,0.99,18.45,...,98.36,25.07,4.85,32.10,6.02,74.67,55.93,0.21,65.16,1.83
2,2021,0.76,France,3.19,34590.78,0.74,50.02,0.42,0.69,19.70,...,68.77,49.33,9.13,66.65,4.57,91.19,56.15,0.02,95.89,0.77
3,2014,0.20,China,7.73,50591.62,0.84,50.03,0.07,0.79,14.59,...,49.68,35.19,2.57,67.74,6.90,65.14,41.77,0.01,50.24,1.40
4,2016,0.02,China,7.41,38864.75,0.02,50.04,-0.01,0.20,18.00,...,84.87,33.00,5.50,88.65,3.91,59.15,36.08,0.39,51.43,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,2014,0.89,France,3.83,27586.78,0.75,84.96,-0.18,0.37,9.42,...,99.39,36.21,7.15,86.04,8.88,63.20,69.63,0.84,85.95,0.74
3996,2009,0.50,China,3.11,51434.38,0.89,84.98,0.04,0.40,12.59,...,51.45,38.70,9.58,52.25,3.71,80.68,48.96,0.78,91.42,0.75
3997,2023,0.14,China,7.98,59581.31,0.47,84.99,0.08,0.27,7.88,...,98.07,24.92,8.19,69.98,4.80,89.44,38.88,0.26,59.69,0.54
3998,2012,0.02,India,4.28,50537.85,0.72,85.00,0.48,0.73,17.81,...,55.91,52.35,5.42,44.09,4.08,46.75,32.82,0.03,61.21,0.95
3999,2017,0.79,France,4.00,12945.27,0.74,85.00,0.20,0.61,13.32,...,90.82,28.87,2.62,77.70,3.83,76.43,59.75,0.84,66.42,0.75